<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBE Tools Page</title>
    <link rel="stylesheet" href="../static/css/cbe-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"> <!--to include 'Open Sans' -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
    <body>

        <!-- HEADER Start -->
        <header>
            <div class="cbe-header-content">
                
                <div class="cbe-header-logo">
                    <img src="../static/img/logo-placeholder.png" alt="Tool logo">
                </div>
                
                <div class="cbe-tool-title"><a href="/">CBE Tool Template</a></div>

                <nav class="cbe-header-nav">
                    <a href="about.html">About</a>
                    <a href="#">Documentation</a>
                    <!-- <a href="https://cbe.berkeley.edu/resources/tools/">More CBE Tools</a> -->
                    <div class="cbe-tool-dropdown">
                        <button class="dropbtn">More CBE Tools <i class="fa fa-sort"></i></button>
                            <div class="cbe-tool-dropdown-content">
                                <a href="#">CBE Clima Tool</a>
                                <a href="#">CBE Comfort Tool</a>
                                <a href="#">CBE Fan Tool</a>
                                <a href="#">pythermalcomfort</a>
                            </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- HEADER End -->


        <div class="cbe-content-container" style="height: 450px">
            <!-- Placeholder for actual tool container -->
        </div>


        <!-- FOOTER Start -->
        <footer>
            <div class="cbe-footer-content">
                <div class="cbe-footer-logo">
                    <img src="../static/img/CBE-logo-2019-white.png" alt="CBE Logo">
                    <img src="../static/img/ucb-logo-2024-white.png" alt="UC Berkeley Logo">
                </div>

                <nav class="cbe-footer-links">
                    <a href="https://cbe.berkeley.edu/about-us/contact/" target="_blank">Contact Us</a>
                    <a href="https://github.com/CenterForTheBuiltEnvironment/cbe-tool-template/issues/new?labels=bug&template=issue--bug-report.md" target="_blank">Report Issues</a>
                    <!-- <a href="#">Changelog</a> -->
                </nav>

                <nav class="cbe-social-links">
                    <a href="#"><img src="../static/img/github-white-transparent.png" alt="GitHub"></a>
                    <a href="#"><img src="../static/img/linkedin-white.png" alt="LinkedIn"></a>
                    <!-- <a href="#"><img src="img/youtube-white-trans-cropped.png" alt="YouTube"></a> -->
                </nav>

                <div class="cbe-citation-info">
                    <div>
                        <b>Please cite us if you use this software:</b> 
                        <div>
                            Tartarini, F., Schiavon, S., Cheung, T., Hoyt, T., 2020. CBE Thermal Comfort Tool: online tool for thermal comfort calculations and visualizations. SoftwareX 12, 100563.
                            <a class="cbe-doi-link" href="https://doi.org/10.1016/j.softx.2020.100563" target="_blank">https://doi.org/10.1016/j.softx.2020.100563</a>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="cbe-footnotes">
                <div>Copyright © <span id="year"></span>  The Center for the Built Environment and UC Regents. All rights reserved.</div>

                <script>
                    // Set the current year
                    document.getElementById('year').textContent = new Date().getFullYear();
                </script>

                <div class="cbe-version-license">
                    <div>Version X.YY</div>
                    <a class="mit-license-badge" href="https://opensource.org/licenses/MIT">
                        <img src="https://img.shields.io/badge/License-MIT-yellow.svg" alt="License: MIT">
                    </a>
                </div>
            </div>
            
        </footer>
        <!-- FOOTER Start -->
    </body>
</html>
